/* reset */
* {
    list-style: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: #666666;
}
body {
    background: #efefef;
}


.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}

.clear {
    clear: both!important;
}
.clear-right {
    clear: right!important;
}
.clear-left {
    clear: left!important;
}

.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}
.text-center {
    text-align: center!important;
}
.text-justify {
    text-align: justify!important;
}


.no-margin {
    margin: 0!important;
}
.no-padding {
    padding: 0!important;
}


h1, h2, h3,
h4, h5, h6 {
    font-family: 'PT Sans Bold', sans-serif;
    font-weight: normal;
}
h1, h2, h3 {
    padding: 15px 0;
}
h4, h5, h6 {
    padding: 10px 0;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 27px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}
p {
    font-size: 13px;
    padding: 8px 0;
}


ul {
    list-style-type: none;
}
ul li {
    background: url("../img/li-bg.png") 0 0 no-repeat;
    padding: 0 0 15px 22px;
}
ul li ul {
    padding: 10px 0 10px 20px;
}
ol li {
    list-style: decimal inside;
    background-image: none;
    padding-bottom: 15px;
}
ol li ol {
    padding: 10px 0 10px 20px;
}


a,
a:hover,
a:visited {
    color: #3f373c;
}
a:hover {
    text-decoration: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 5px;
}


pre {
    color: #333333;
}


.red {
    color: #ef3f22;
}


.cursor-pointer {
    cursor: pointer;
}
/* end reset */
